---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col">
      {% include post-big.html %}
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-4">
      {% include post-small.html %}
    </div>
    <div class="col col-sm-4">
      {% include post-small.html %}
    </div>
    <div class="col col-sm-4">
      {% include post-small.html %}
    </div>
    <div class="col col-sm-4">
      {% include post-small.html %}
    </div>
    <div class="col col-sm-4">
      {% include post-small.html %}
    </div>
    <div class="col col-sm-4">
      {% include post-small.html %}
    </div>
    <div class="col col-sm-4">
      {% include post-small.html %}
    </div>
    <div class="col col-sm-4">
      {% include post-small.html %}
    </div>
    <div class="col col-sm-4">
      {% include post-small.html %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="#" class="btn btn-primary">Posts antigos</a>
    </div>
  </div>
</div>
