<div class="post post-small">
  <a href="{{ site.baseurl }}/{{ post.slug }}" class="post-image">
    <img src="{{ site.baseurl }}/assets/images/{{ post.featured_image }}" alt="">
  </a>
  <div class="post-content">
    <div class="post-header">
      <span class="date">{{ post.date | date: "%-d"}} {{ post.date | brazil_short_month }},
        {{ post.date | date: "%Y" }}</span>
      <span class="separator"></span>

      {% for category in post.categories %}
      <a href="{{ site.baseurl }}/category/{{ category | slugify }}" class="category">{{ category }}</a>
      {% endfor %}
    </div>
    <h2 class="post-title"><a href="{{ site.baseurl }}/{{ post.slug }}">{{ post.title }}</a>
    </h2>
    <p class="post-excerpt">{{ post.excerpt | strip_html }}</p>
  </div>
</div>
