<div class="post post-big">
  <div class="post-image">
    <img src="{{ site.baseurl }}/assets/images/sample/post-thumb-big.jpg" alt="">
  </div>
  <div class="post-content">
    <div class="post-header">
      <span class="">21 fev, 2019</span>
    </div>
    <h2 class="post-title">Criando um Archetype Maven a partir de um projeto existente</h2>
    <p class="post-excerpt">Maven archetypes são templates de projetos que possibilitam iniciar o desenvolvimento de
      novos projetos rapidamente
      baseando se em uma base de arquivos, xml’s e classes já existentes.</p>
    <a class="post-link" href="#">
      <span>Leia mais</span>
    </a>
  </div>
</div>
