{% assign featured_post = site.posts limit: 1 | where:"featured_post", "true" %}

<div class="post post-big">
  <a href="{{ site.baseurl }}/{{ featured_post[0].slug }}" class="post-image">
    <img src="{{ site.baseurl }}/assets/images/{{ featured_post[0].featured_image }}" alt="">
  </a>
  <div class="post-content">
    <div class="post-header">
      <span class="date">{{ featured_post[0].date | date: "%-d"}} {{ featured_post[0].date | brazil_short_month }}, {{ featured_post[0].date | date: "%Y" }}</span>
      <span class="separator"></span>

      {% for category in featured_post[0].categories %}
      <a href="{{ site.baseurl }}/category/{{ category | slugify }}" class="category">{{ category }}</a>
      {% endfor %}
    </div>
    <h2 class="post-title"><a href="{{ site.baseurl }}/{{ featured_post[0].slug }}">{{ featured_post[0].title }}</a></h2>
    <p class="post-excerpt">{{ featured_post[0].excerpt }}</p>
    <a class="post-link" href="{{ site.baseurl }}/{{ featured_post[0].slug }}">
      <span>Leia mais</span>
    </a>
  </div>
</div>
