.btn {
  border-radius: 0;
  font-family: $font-family-sans-serif;
}

.btn-primary {
  color: $white;

  &.btn-lg {
    font-size: 1rem;
    font-weight: 700;
    padding: 1.625rem 9.625rem;

    &:hover {
      color: $white;
    }

    @include media-breakpoint-down(md) {
      display: block;
      line-height: 1;
      padding: 1rem;
    }
  }
}
