body,
html {
  overflow-x: hidden;
  width: 100%;
}

* {
  &:focus,
  &:active {
    box-shadow: none;
    outline: 0;
  }
}

@include media-breakpoint-down(md) {
  * {
    &:active,
    &:focus,
    &:hover {
      text-decoration: none !important;
    }
  }
}
