.loading {
  .site-loading {
    display: inline-block;
  }
}

.site-loading {
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
