.post-big {
  display: flex;
  margin-bottom: 3.125rem;

  .post-image {
    flex: 0 0 58.333%;
    height: 27.9375rem;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      transition: transform .45s ease;
      width: 100%;
    }

    &:hover {
      img {
        transform: scale(1.25);
      }
    }

    @include media-breakpoint-down(md) {
      display: block;
      height: 12.5rem;
    }
  }

  .post-content {
    background-color: $post-thumb-bg;
    display: flex;
    flex: 0 0 42.666%;
    flex-direction: column;
    justify-content: center;
    padding: 3.437rem;

    .post-header {
      margin-bottom: .4375rem;

      span,
      a {
        color: theme-color('secondary');
        display: inline-block;
        font-family: $font-family-sans-serif;
        font-weight: bold;
        vertical-align: middle;

        @include media-breakpoint-down(md) {
          font-size: .75rem;
        }
      }

      .separator {
        background-color: $separator;
        height: .0625rem;
        margin: 0 .5625rem;
        width: 2.81rem;
      }

      .category {
        text-transform: uppercase;
      }
    }

    .post-title {
      font-size: 1.5625rem;
      line-height: 1.875rem;
      margin-bottom: .6875rem;

      @include media-breakpoint-down(md) {
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }

    .post-excerpt {
      color: theme-color('secondary');
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.25rem;
      margin-bottom: .875rem;

      @include media-breakpoint-down(md) {
        font-size: .875rem;
        line-height: 1.25rem;
        margin-bottom: 0;
      }
    }

    .post-link {
      span {
        font-family: $font-family-sans-serif;
      }

      span,
      img {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        margin-left: .5rem;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    @include media-breakpoint-down(md) {
      background-color: $header-top-bg;
      padding: .6875rem;
    }
  }

  @include media-breakpoint-down(md) {
    display: block;
    margin-bottom: 1.875rem;
  }
}
